{% extends "base.html" %}
        {% load staticfiles i18n %}
        {% block content %}

        <div class="section">
	    	<div class="container">
	    		<h2>The Apps</h2>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="/animalia"><img src="{% static 'img/animalia.png' %}" alt="Animalia"></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">Animalia</li>
									<li>Animal Kingdom Catalog</li>
									<li class="read-more"><a href="/animalia" class="btn">Take me there</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><img src="{% static 'img/movie_lib.png' %}" alt="tmDB"></a>
							</div>
							<div class="portfolio-info">
								<ul>
									<li class="portfolio-project-name">tmDB</li>
									<li>Timo's movie database</li>
									<li class="read-more"><a href="/movies" class="btn">Take me there</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

        {% endblock%}