{% extends "animalia/base.html" %}
{% block title%} Animal Catalog - List{% endblock %}
{% block content %}
{% if animals%}

<div class="col-md-3">
    <h3>Animalia</h3>
    <h5>Search</h5>
    <form action="/animalia/animals/list" method="get">
        <div class="form-input">
            <label>Name</label>
            <input name="name" class="form-control">
        </div>
        <div class="form-input">
            <label>Family</label>
            <input name="family" class="form-control">
        </div>
        <br>
        <button class="btn btn-sm" type="submit">Filter</button>
    </form>

</div>
        {% for animal in animals%}
<div class="col-md-2">
    <div class="thumbnail">

        <a href="/animalia/id/{{animal.id}}">

            <img src="{{animal.image.url}}">
        </a>

        <div class="caption">
            <p>{{animal.description}}</p>
        </div>
    </div>
</div>
{% endfor%}
{% else %}
No animals to show
{%endif%}
{% endblock %}