{% extends "base.html" %}
{% block title%} Animal Detail{% endblock %}
{% block content %}
        <div class="md-5">
            <img class="col-md-5" src="{{object.image.url}}">
        </div>
        <div class="md-5">
            <p>Name - {{object.name}}</p>
            <p>Description - {{object.description}}</p>
            <p>Species - {{object.species.name}}</p>
            <p>Genus - {{object.species.genus.name}}</p>
            <p>Family - {{object.species.genus.family.name}}</p>
            <p>Order - {{object.species.genus.family.order.name}}</p>
            <p>Class - {{object.species.genus.family.order.classe.name}}</p>
            <p>Phylum - {{object.species.genus.family.order.classe.phylum.name}}</p>
            <p>Views - {{object.views}}</p>
        </div>

{% endblock %}