{% extends "movie_library/base.html" %}
        {% block title%}tmDB - Featured Movies{% endblock%}
        {% block content %}
<!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Featured Movies</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="products-slider">
                            {% for movie in movies%}
                            <div class="shop-item">
								<!-- Product Image -->
								<div class="image">
									<a href="/movies/id/{{movie.id}}"><img src="{{movie.cover_art.url}}" alt="{{movie.title}}"></a>
								</div>
								<!-- Product Title -->
								<div class="title">
									<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
								</div>
								<!-- Product Price -->
								<div class="price">
									$999.99
								</div>
								<!-- Buy Button -->
								<div class="actions">
									<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Buy</a>
								</div>
							</div>
                            {% endfor %}
							<!-- Products Slider Item -->

							<!-- End Products Slider Item -->
							<div class="shop-item">
								<div class="image">
									<a href="page-product-details.html"><img src="/static/img/product2.jpg" alt="Item Name"></a>
								</div>
								<div class="title">
									<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
								</div>
								<div class="price">
									$999.99
								</div>
								<div class="actions">
									<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Buy</a>
								</div>
							</div>
							<div class="shop-item">
								<div class="image">
									<a href="page-product-details.html"><img src="/static/img/product3.jpg" alt="Item Name"></a>
								</div>
								<div class="title">
									<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
								</div>
								<div class="price">
									$999.99
								</div>
								<div class="actions">
									<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Buy</a>
								</div>
							</div>
							<div class="shop-item">
								<div class="image">
									<a href="page-product-details.html"><img src="/static/img/product4.jpg" alt="Item Name"></a>
								</div>
								<div class="title">
									<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
								</div>
								<div class="price">
									$999.99
								</div>
								<div class="actions">
									<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Buy</a>
								</div>
							</div>
							<div class="shop-item">
								<div class="image">
									<a href="page-product-details.html"><img src="/static/img/product5.jpg" alt="Item Name"></a>
								</div>
								<div class="title">
									<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
								</div>
								<div class="price">
									$999.99
								</div>
								<div class="actions">
									<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Buy</a>
								</div>
							</div>
							<div class="shop-item">
								<div class="image">
									<a href="page-product-details.html"><img src="/static/img/product6.jpg" alt="Item Name"></a>
								</div>
								<div class="title">
									<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
								</div>
								<div class="price">
									$999.99
								</div>
								<div class="actions">
									<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Buy</a>
								</div>
							</div>
							<div class="shop-item">
								<div class="image">
									<a href="page-product-details.html"><img src="/static/img/product7.jpg" alt="Item Name"></a>
								</div>
								<div class="title">
									<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
								</div>
								<div class="price">
									$999.99
								</div>
								<div class="actions">
									<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Buy</a>
								</div>
							</div>
							<div class="shop-item">
								<div class="image">
									<a href="page-product-details.html"><img src="/static/img/product8.jpg" alt="Item Name"></a>
								</div>
								<div class="title">
									<h3><a href="page-product-details.html">Lorem ipsum dolor</a></h3>
								</div>
								<div class="price">
									$999.99
								</div>
								<div class="actions">
									<a href="page-product-details.html" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
        {% endblock %}