{% extends "movie_library/base.html" %}
        {% load staticfiles i18n %}
{% block title%}tmDB - {{object.title}}{% endblock%}
{% block content %}
        <link rel="stylesheet" href="http//:blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="{% static 'css/bootstrap-image-gallery.min.css' %}">
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{object.title}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <!-- Product Image & Available Colors -->
            <!--<div class="col-sm-6">-->
                <!--<div class="product-image-large">-->
                    <!--<img src="{{object.cover_art.url}}" alt="{{object.title}}">-->
                <!--</div>-->
            <!--</div>-->
                <div class="col-sm-6">
                    <h4>Trailer</h4>
						<div class="video-wrapper">
                             <!--<iframe-->
<!--src="http://www.youtube.com/embed/XGSy3_Czz8k">-->
<!--</iframe>-->
							<iframe src="{{object.trailer}}" width="554" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
						</div>
					</div>

            <!-- End Product Image & Available Colors -->
            <!-- Product Summary & Options -->
            <div class="col-sm-6 product-details">
                <h4>{{object.title}}</h4>
                {%for g in object.genre.all%}
                <div class="price">
                    <span class="">{{g.name}}</span>
                </div>
                {% endfor %}

                <h5>Directors</h5>

                <p>{{object.director_set.all.0}}</p>
                {% for d in object.director.all %}
                <span><a href="/movies/directors/id/{{id}}">{{d}}</a> </span>
                {% endfor %}
                <h5>Writers</h5>

                <p>{{object.writer_set.all.0}}</p>
                {% for w in object.writer.all %}
                <span><a href="/movies/writers/id/{{id}}">{{w}}</a> </span>
                {% endfor %}
                {% if object.studio%}
                <h5>Studio</h5>
                <span>{{object.studio}}</span>
                {% endif %}
                <h5>Gallery</h5>
                <div class="row">


                    <div id="links">
                        {%for p in object.photo_set.all%}
                        <div class="col-md-2 col-sm-3">
                            <div class="portfolio-item">
                                <div class="portfolio-image">
                                    <a href="{{p.image.url}}" title="{{p.caption}}" data-gallery>
                                        <img src="{{p.image.url}}" alt="{{p.caption}}" style="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>

            </div>
            <!-- End Product Summary & Options -->

            <!-- Full Description & Specification -->
            <div class="col-sm-12">
                <div class="tabbable">
                    <!-- Tabs -->
                    <ul class="nav nav-tabs product-details-nav">
                        <li class="active"><a href="#tab1" data-toggle="tab">Synopsis</a></li>
                        <li><a href="#tab2" data-toggle="tab">Cast</a></li>
                    </ul>
                    <!-- Tab Content (Full Description) -->
                    <div class="tab-content product-detail-info">
                        <div class="tab-pane active" id="tab1">
                            <h4>Synopsis</h4>

                            <p>{{object.synopsis}}</p>
                        </div>
                        <!-- Tab Content (Specification) -->
                        <div class="tab-pane" id="tab2">
                            {% for a in object.actor.all%}
                            <p>{{a}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Full Description & Specification -->
        </div>
    </div>
</div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="{% static 'js/bootstrap-image-gallery.min.js' %}"></script>
{% endblock content%}